# VS Code IDE Related
.vscode/
.history/

# Illuminated Cloud Related
.idea/
IlluminatedCloud

# SFDX Related
.sfdx/
sfdx-source/untracked/*
!sfdx-source/untracked/README.md
sfdx-source/ops-nav/main/default

# NPM Related
package.json
/node_modules
package-lock.json
